.main-container {
  .hole-container {
    word-break: break-all;

    width: 400px;
    margin: 20px auto;

    $block-border: 1px solid #e1e1e8;

    $content-font: "Helvetica Neue", "Microsoft Yahei", "SimHei", Helvetica, Arial, sans-serif;
    $button-font: "Helvetica Neue", "SimSun", Helvetica, Arial, sans-serif;
    $time-font: "Helvetica Neue", "SimSun", Helvetica, Arial, sans-serif;

    .block {
      background-color: #f7f7f9;
      position: relative;
      border-left: $block-border;
      border-right: $block-border;
      border-bottom: $block-border;
      .btn {
        font-family: $button-font;
      }
    }

    .first-block {
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      border-top: $block-border;
    }

    .last-block {
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }

    .main-part {
      padding: 0 0 70px 0;
      .text {
        font-size: 20pt;
        font-family: $content-font;
        margin: 20px 20px 10px 20px;
      }
      .image {
        margin: 10px;
        img {
          max-width: 100%;
        }
      }
      .bottom-text {
        margin-left: 18px;
        .author, .publish-time {
          display: inline-block;
        }
        .author {
          font-size: 10pt;
          font-family: $content-font;
          color: gray;
          margin-right: 4px;
        }
        .publish-time {
          font-size: 10pt;
          font-family: $time-font;
          color: gray;
        }
      }
      .left-part {
        position: absolute;
        bottom: 20px;
        left: 15px;
        display: inline-block;
      }
      .right-part {
        position: absolute;
        bottom: 20px;
        right: 18px;
        display: inline-block;
        > .for-comment {
          display: none;
        }
      }
    }

    .comment {
      .text {
        font-size: 14pt;
        font-family: $content-font;
        padding: 15px 20px 5px 20px;
      }
      .bottom-text {
        padding-left: 20px;
        padding-bottom: 15px;
        .author, .publish-time {
          display: inline-block;
        }
        .author {
          font-size: 10pt;
          font-family: $content-font;
          color: gray;
          margin-right: 4px;
        }
        .publish-time {
          font-size: 10pt;
          font-family: $time-font;
          color: gray;
        }
      }

      .floor {
        position: absolute;
        top: 0;
        right: 0;
        padding: 2px 5px;
        border-bottom: $block-border;
        border-left: $block-border;
        background-color: white;
        border-bottom-left-radius: 5px;
      }
    }

    .post-comment {
      display: none;
      padding: 10px 10px 25px 10px;
      position: relative;
      .options {
        .anonymous {
          position: absolute;
          right: 17px;
          bottom: 2px;
        }
      }
    }
  }
}
