{% extends 'layout.html' %}
{% block title %} Welcome to {{ title }} {% endblock %}
{% block css %}
  {% parent %}
  <link rel="stylesheet" href="/css/index.css">
{% endblock %}
{% block content %}
<div class="container">
  <form id="text_form" method="post">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <textarea type="textarea" id="txtContent" name="txtContent" class="inputtext">
        </textarea>
      </div>
      <div class="col-lg-offset-10 col-md-offset-10 col-sm-offset-10">
        <input type="submit" value="发布" class="btn btn-primary">
      </div>
    </div>
  </form>
</div>
<div class="container">
  <div class="row">
    {% for x in [0, 1, 2] %}
    <div class="col-lg-4 col-md-4 col-sm-4">
      {% for hole in treeholes %}
      <a href="/hole/{{ hole._id }}">
        {% if (loop.index0 % 3) == x %}
        <div class="well">
          {{ hole.text }}
        </div>
        {% endif %}
      </a>
      {% endfor %}
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}

{% block js %}
  {% parent %}
  <script src="/js/index.js"></script>
{% endblock %}
