body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.container {
  max-width: 730px;
}

.well {
  word-break: break-all;
}

.inputtext {
  width: 100%;
  height: 100px;
  overflow-x:visible;
  overflow-y:visible;
  resize: none;
}

form {
  padding-bottom: 30px;
}
