{% extends 'layout.html' %}
{% block title %} 清华树洞 {% endblock %}
{% block css %}
  {% parent %}
  <link rel="stylesheet" href="/bower_components/jasny-bootstrap/dist/css/jasny-bootstrap.css">
  <link rel="stylesheet" href="/css/index.css">
{% endblock %}
{% block js %}
  {% parent %}
  <script src="/bower_components/freewall/freewall.js"></script>
  <script src="/bower_components/jasny-bootstrap/dist/js/jasny-bootstrap.js"></script>
  <script src="/js/index.js"></script>
{% endblock %}
{% block content %}
<div class="container">
  <div class="main-container">
    <div class="post-hole">
      <div class="input-area">
        <form id="post-hole-form" action="/hole" method="post">
          <textarea name="txtContent" class="form-control" rows="5"></textarea>
          <input type="checkbox" style="display: none;" checked="checked" name="anonymous" />
        </form>
      </div>

      <div class="feedback-list">
        <div class="term-container">
          <div class="term">
            <span class="content">like</span>
            <button type="button" class="close delete-button">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>

        <div class="term term-template" style="display: none;">
          <span class="content"></span>
          <button type="button" class="close delete-button">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="add-term">
          <form action="javascript:void(0)">
            <input placeholder="回车添加" type="text" class="form-control">
          </form>
        </div>

      </div>

      <div class="options">
        <div class="image-upload">
          <div class="fileinput fileinput-new" data-provides="fileinput">
            <span class="fileinput-filename"></span>
            <a href="#" class="close fileinput-exists" data-dismiss="fileinput" style="float: none">&times;</a>
            <span class="btn btn-default btn-file">
              <span class="fileinput-new">选择图片</span>
              <span class="fileinput-exists">更改</span>
              <input type="file" accept=".jpg,.png" />
            </span>
          </div>
        </div>

        <div class="anonymous">
          <div class="checkbox">
            <label>
              <input type="checkbox" checked="checked" />匿名
            </label>
          </div>
        </div>
      </div>

      <div class="submit-button">
        <button type="button" class="btn btn-primary">发布</button>
      </div>
    </div>
    <div class="hole-container">
      {% for hole in treeholes %}
      <div class="hole-wrapper">
        <div data-href="/hole/{{ hole._id }}" class="hole">
          <div class="text">
            {{ hole.text }}
          </div>
          <div class="bottom-text">
            <div class="author">
              {% if hole.options.anonymous %}
              <span>{{ hole.user_role.text }}</span>
              {% else %}
              <span>{{ hole.user_role.screen_name }}</span>
              {% endif %}
            </div>
            <div class="publish-time">
              <span class="time-need-format">{{ hole.publish_time }}</span>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
