.main-container {

}

.hole-container {
  width: 400px;
  margin: 20px auto;
}

.hole-container .block {
  background-color: #f7f7f9;
  position: relative;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  border-bottom: 1px solid grey;
}

.hole-container .block:first-child {
  /*border-top-left-radius: 5px;
  border-top-right-radius: 5px;*/
  border-top: 1px solid grey;
}

.hole-container .block:last-child {
  /*border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;*/
}

.hole-container .main-part {
  padding: 0 0 70px 0;
}

.hole-container .main-part .text {
  font-size: 20pt;
  padding: 20px 20px 10px 20px;
}

.hole-container .main-part .publish-time {
  font-size: 10pt;
  padding-left: 20px;
  color: gray;
}

.hole-container .main-part .left-part {
  position: absolute;
  bottom: 20px;
  left: 15px;
  display: inline-block;
}

.hole-container .main-part .right-part {
  position: absolute;
  bottom: 20px;
  right: 18px;
  display: inline-block;
}

.hole-container .main-part .right-part > .for-comment {
  display: none;
}

.hole-container .comment .text {
  font-size: 14pt;
  padding: 15px 20px 5px 20px;
}

.hole-container .comment .publish-time {
  font-size: 10pt;
  padding-left: 20px;
  padding-bottom: 15px;
  color: gray;
}

.hole-container .post-comment {
  display: none;
  padding: 10px 10px 0 10px;
}
